<div id="map_canvas"></div>
<%= javascript_tag "events = #{@events.group_by {|event| [event.latitude, event.longitude] }.to_json}" %>
<%= javascript_tag "friends = #{@friends.group_by {|friend| [friend.latitude, friend.longitude] }.to_json}" %>
