body {
    background-color: black;
    color: white;
}

input {
    background-color: #D8D8D8;
}

a {
    color: #777;
}

/* Header */
#header {
    height: 80px;
}

#header #logo {
    float: left;
    width: 360px;
    height: 80px;
    margin-left: 40px;
    font-style: italic;
    font-size: 90%;
    text-align: center;
    background: url(logo2.jpg) no-repeat;
    background-size: 45%;
}

#header #menu_map {
    float: left;
    width: 200px;
    padding-top: 23px;
}

#header #see_map {
    float: left;
    width: 210px;
    padding-top: 38px;
}

#see_button {
    border-color: #aaaaaa;
    border-width: 4px;
    border-style: groove;
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 15px;
}

/* Side */
#side {
    float: left;
    width: 380px;
    height: 560px;
    background: url(sidepicture.jpg) no-repeat;
    background-size: 110%;
}

#side #submit_area {
    padding-top: 10px;
}

#submit_button {
    border-color: #aaaaaa;
    border-width: 4px;
    border-style: groove;
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 15px;
}

/* Content */
#content {
    margin-left: 400px;
}

#content #map_canvas {
    width:  700px;
    height: 550px;
    color: black;
}

#content #event_list {
    float: left;
    width: 360px;
    font-size: 14px;
}

#content #friend_list {
    float: left;
    width: 300px;
    margin-left: 20px;
    font-size: 14px;
}

#content #edit_area {
    margin-top: 10px;
}

#content #edit_area #edit_button {
    border-color: #aaaaaa;
    border-width: 4px;
    border-style: groove;
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 15px;
}
