body {
    background-color: black;
    color: white;
}

/* Header */
#header {
    height: 60px;
}

#header #logo {
    float: left;
    width: 360px;
}

#header #menu {
    margin-left: 370px;
}

/* Side */
#side {
    float: left;
    width: 380px;
    height: 2000px;
    background: url(sidepicture.jpg) no-repeat;
    background-size: 110%;
}

/* Content */
#content {
    margin-left: 400px;
}

#content #map_canvas {
    width:  700px;
    height: 550px;
}