body {
    background-color: black;
    color: white;
}

input {
    background-color: #D8D8D8;
}

/* Header */
#header {
    height: 80px;
}

#header #logo {
    float: left;
    width: 360px;
    height: 80px;
    margin-left: 40px;
    font-style: italic;
    font-size: 90%;
    text-align: center;
    background: url(logo2.jpg) no-repeat;
    background-size: 45%;
}

#header #menu_map {
    float: left;
    width: 200px;
    padding-top: 23px;
}

#header #menu_list {
    float: left;
    width: 200px;
    padding-top: 23px;
}

/* Side */
#side {
    float: left;
    width: 380px;
    height: 560px;
    background: url(sidepicture.jpg) no-repeat;
    background-size: 110%;
}

#side #submit_area {
    padding-top: 30px;
}

/* Content */
#content {
    margin-left: 400px;
}

#content #map_canvas {
    width:  700px;
    height: 550px;
    color: black;
}

#content #event_list {
    float: left;
    width: 350px;
}

#content #friend_list {
    float: left;
    width: 300px;
}
