body {
    margin-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

#logo {
    height: 250px;
    background: url(logo2.jpg) no-repeat center;
    background-size: 35%;
}

a {
    color: #777;
}
