<!DOCTYPE html>
<html>
<head>
  <title>Footprints</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="header">
    <div id="logo">
      あしあとロゴ
    </div>
    <div id="menu">
      メニュー
    </div>
  </div>

  <div id="side">
    <div id="eventsubmit">

    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
